<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Monster Slayer Game</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />

    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>

  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>

    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="monsterBarStyle"></div>
        </div>
      </section>

      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" v-bind:style="playerBarStyle"></div>
        </div>
      </section>

      <section class="container" v-if="winner">
        <h2>Game Over!</h2>
        <h3 v-if="winner === 'monster'">You lost!</h3>
        <h3 v-else-if="winner === 'player'">You won!</h3>
        <h3 v-else="winner === 'draw'">It's a draw!</h3>
        <button v-on:click="startGame">Start New Game</button>
      </section>

      <section id="controls" v-if="!winner">
        <button v-on:click="attackMonster">ATTACK</button>
        <button v-bind:disabled="mayUseSpecialAttack" v-on:click="specialAttackMonster">SPECIAL ATTACK</button>
        <button v-on:click="healPlayer">HEAL</button>
        <button v-on:click="surrender">SURRENDER</button>
      </section>
      
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="logMessage in logMessages">
            <!-- Below I want to access logMessage and check if actionBy is equal to player, in which case we want to print 'Player' with capital 'P', otherwise it will be the monster -->
            <span
              :class="{'log--player': logMessage.actionBy === 'player', 'log--monster': logMessage.actionBy === 'monster'}">
              {{ logMessage.actionBy === 'player' ? 'Player' : 'Monster'}}
            </span>

            <!-- Holds the type of action that happened, when we healed ourselves -->
            <span v-if="logMessage.actionType === 'heal'">
              heals himself for <span class="log--heal">{{ logMessage.actionValue }}</span>
            </span>

            <!-- logMessage when dealing damage -->
            <span v-else>
              attacks and deals <span class="log--damage">{{ logMessage.actionValue }}</span>
            </span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
