* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/19bdef00-090f-489b-a274-d2808eaad0d6/d88elxm-17833f90-6e21-45a9-8e05-1c9687c78eb9.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMTliZGVmMDAtMDkwZi00ODliLWEyNzQtZDI4MDhlYWFkMGQ2XC9kODhlbHhtLTE3ODMzZjkwLTZlMjEtNDVhOS04ZTA1LTFjOTY4N2M3OGViOS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.DanXHKQufSIZkbpyOJa-7ARD_WF7blVqb1AeNGqJvAM");
  background-repeat: no-repeat;
}

header {
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  padding: 0.5rem;
  background-color: #1327426b;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

section {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

.healthbar {
  width: 100%;
  height: 40px;
  border: 1px solid #575757;
  margin: 1rem 0;
  background: #fde5e5;
}

.healthbar__value {
  background-color: #8c0505;
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  padding: 0.5rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  background: #ffffff8c;
}

#monster h2,
#player h2 {
  margin: 0.25rem;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  font: inherit;
  /* border: 1px solid #88005b; */
  background-color: #9087878c;
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 1rem;
  width: 14rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #353535;
  border-color: #0e0d0ec4;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
  background-color: #cccccce3;
  border-color: #ccc;
  box-shadow: none;
  color: #3f3f3f;
  cursor: not-allowed;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #7700ff;
  font-weight: 700;
}

.log--monster {
  color: #946208;
  font-weight: 700;
}

.log--damage {
  color: red;
  font-weight: 700;
}

.log--heal {
  color: green;
  font-weight: 700;
}

.scrollable {
  overflow-y: auto;
  max-height: 300px;
}